/* 一次解決盒尺寸的border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 圖片下方會有空格的問題 */
img {
    vertical-align: middle;
}


body {
    font-family: 'Bruno Ace SC', cursive;
    line-height: 1.5;
    font-size: 16px;
    color: #15161D;
}
h1{
    font-size: 128px;    
    align-self:flex-end;
    color: #00FFA3;
}
h2{
    font-size: 64px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
a{
    text-decoration: none;
    transition: 0.5s;
}


.container{
    width: 1296px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

/* .bg-black{
    background-color: #000000;
    color: #D1D1D1;
}
.bg-white{
    background-color: fff;
    color: #000;
} */

.pb-4{ padding-bottom: 4px; }
.p-72{ padding: 72px 0; }
.p-96{ padding: 96px 0; }
.p-160{ padding: 160px 0; }

.mr-16{ margin-right: 16px; }
.mr-20{ margin-right: 20px; }
.mr-24{ margin-right: 24px; }
.mb-32{ margin-bottom: 32px; }


/* nav */

nav{
    background-color: #000000;
    color: #D1D1D1;
    padding-top: 40px;
}
.nav-list{
    justify-content: space-between;
}
.nav-list a{
    color: #D1D1D1;
}
.nav-list a:hover{
    color: #00FFA3;
}





/* header */


.header{
    background-color: #000;
    color: #fff;
}
.header .container{
    align-items: center;
}
.header-content{
    flex-direction: column;
}
.header-content a img{
    margin-left: 4px;
}
.header-content a{
    color: #000;
    background-color: #fff;
    padding: 12px 24px;
    border-radius: 100px;
    align-self:flex-end;
}
.header-content a:hover{
    box-shadow:  0px 0px 10px rgb(0, 255, 163, 0.8);
}





/* intro */

.intro{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
    color: #fff;
}





/* about-me */

.about-me .container{
    justify-content: space-between;
    align-items: center;
}
.feature-list{
    width: 636px;
    flex-wrap: wrap;
}
.feature-card{
    width: 306px;
    padding: 16px;
    border: 1px solid #E3E3E3;
    box-shadow: 4px 4px 4px rgb(0, 0, 0,0.08);
}
.feature-card:nth-child(1), .feature-card:nth-child(2){
    margin-bottom: 24px;
}
.about-me-content{
    width: 526px;
}
.about-me-content h2{
    color: #000;
}




/* contact */

.contact{
    color: #fff;
    background: linear-gradient(#050014, #01021e);
}
.contact .container{
    justify-content: space-between;
    align-items: center;
}
.contact .container h2{
    align-items: center;
}
.contact-arrow{
    margin-left: 13px;
}
.social-media-list a{
    border-radius: 40px;
}
.social-media-list a:hover{
    box-shadow: 0px 0px 16px 3px rgb(144, 148, 255, 0.9);
}





/* project */

.project .container h2{
    width: 746px;
    margin-left: auto;
    padding-bottom: 16px;
    color: #000;
}
.project-info{
    margin-bottom: 28px;
}
.project-info-conetent{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.project-info-conetent a{
    color: #fff;
    background-color: #000;
    padding: 12px 24px;
    border-radius: 100px;
}
.project-info-conetent a:hover{
    box-shadow:  0px 0px 10px rgb(0, 255, 163, 0.8);
}




/* footer */

footer{
    background-color: #000;
}


.footer-text {
    color: #fff;
    text-align: center;
    padding: 40px 0;

}